@use '../global/design-tokens';
@use "sass:map";

@each $color, $shades in design-tokens.$colors {
  @each $shade, $value in $shades {
    .text-#{$color}-#{$shade} {
      color: var(--clr-#{$color}-#{$shade});
    }
    .bg-#{$color}-#{$shade} {
      background-color: var(--clr-#{$color}-#{$shade});
    }
  }
}

.bg-circle {
  background-repeat: no-repeat;
  background-position: -9.2vw -300px;
}
