@use '../global/design-tokens';
@use "sass:map";

@each $color, $shades in design-tokens.$colors {
  @each $shade, $value in $shades {
    .text-#{$color}-#{$shade} {
      color: var(--clr-#{$color}-#{$shade});
    }
    .bg-#{$color}-#{$shade} {
      background-color: var(--clr-#{$color}-#{$shade});
    }
    .shadow-#{$color}-#{$shade} {
      box-shadow: var(--s-1) var(--s-1) var(--clr-#{$color}-#{$shade});
    }
    .border-#{$color}-#{$shade} {
      border: solid thin var(--clr-#{$color}-#{$shade});
    }
  }
}

.bg-circle {
  background-repeat: no-repeat;
  background-position: -9.2vw -300px;
}

.dots-decoration {
  position: relative;
  margin: var(--s-3);
  margin-block-start: calc(25px + var(--space));
}

.dots-decoration > * {
  position: relative;
}

.dots-decoration::before {
  content: '';
  background: url('/img/dots.svg') 1px 2px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -25px;
  left: -25px;
}

.dots-decoration.light::before {
  background: url('/img/dots-100.svg') 1px 2px;
}

.sunset {
  background-image: linear-gradient(
    to bottom,
    var(--clr-neutral-100),
    var(--clr-neutral-200),
    var(--clr-neutral-300),
    var(--clr-neutral-400),
    var(--clr-neutral-500),
    var(--clr-neutral-600),
    var(--clr-neutral-700),
    var(--clr-neutral-800),
    var(--clr-neutral-900)
  );
}
