.cover {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 1rem;
}

.cover > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cover > :first-child:not(.centered) {
  margin-top: 0;
}

.cover > :last-child:not(.centered) {
  margin-botttom: 0;
}

.cover > .centered {
  margin-top: auto;
  margin-bottom: auto;
}
