@use 'sass:math';
@use '../composition/breakpoints';

.diagonal-box {
  --tan-calculation: 0.09719; /* tan(11°)/2 */
  --content-width: 100%;
  --skew-padding: calc(var(--content-width) * var(--tan-calculation) + 1rem);
  padding-top: var(--skew-padding);
  padding-bottom: var(--skew-padding);
  position: relative;
  margin-top: var(--skew-padding);
  margin-bottom: var(--skew-padding);
}

.diagonal-box:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
    45deg,
    var(--clr-neutral-100),
    var(--clr-neutral-100)
  );
  transform: skewY(-11deg);
}

.diagonal-box-content {
  max-width: 50em;
  margin: 0 auto;
  position: relative;
}

.diagonal-box.inverted:before {
  transform: skewYprimary(11deg);
}
/*
.clip-path {
  --width: 100%;
  --full-width: 100vw;

  --angle: -11deg;
  /*-----------------
  Magic Number Alert:
  
  the 0.09719 is calculated by this formula:
  tan(11°) / 2
  11° is the current skewY value.
  ------------------*/
/*
  --magic-number: 0.09719;
  --skew-padding: calc(var(--width) * var(--magic-number));
  --clip-padding: calc(var(--full-width) * var(--magic-number));

  position: relative;
  margin-top: calc((var(--clip-padding) * -1) - 2px + 2rem);
  margin-bottom: calc((var(--clip-padding) * -1) - 2px + 2rem);
  background-color: var(--clr-neutral-100);
  background-image: url('/img/stripes.svg');
  background-size: 10px;
  padding: calc(
      (var(--clip-padding) * 2) - (var(--clip-padding) - var(--skew-padding)) +
        1rem
    )
    0;
  clip-path: polygon(
    0% calc(var(--clip-padding) * 2),
    100% 0%,
    100% calc(100% - (var(--clip-padding) * 2)),
    0% 100%
  );
  -webkit-clip-path: polygon(
    0% calc(var(--clip-padding) * 2),
    100% 0%,
    100% calc(100% - (var(--clip-padding) * 2)),
    0% 100%
  );
}
*/

.clip-path {
  --container-width: 100%;
  --viewport-width: 100vw;
  $angle: 4deg;
  --angle: #{$angle};
  $tan: math.tan($angle);
  --acathetuslength: calc(#{$tan} / 2);
  --skew-padding: calc(var(--container-width) * var(--acathetuslength));
  --clip-padding: calc(var(--viewport-width) * var(--acathetuslength));
  position: relative;
  background-color: var(--clr-neutral-100);
  background-image: url('/img/stripes.svg');
  background-size: 10px;
  padding-top: calc(var(--clip-padding) * 2);
  padding-bottom: calc(var(--clip-padding) * 2);
  clip-path: polygon(
    0% calc(var(--clip-padding) * 2),
    100% 0%,
    100% calc(100% - var(--clip-padding) * 2),
    0% 100%
  );
  -webkit-clip-path: polygon(
    0% calc(var(--clip-padding) * 2),
    100% 0%,
    100% calc(100% - (var(--clip-padding) * 2)),
    0% 100%
  );
  /*
  @include breakpoints.mq(sm) {
    padding-top: 10%;
    padding-bottom: 10%;
    clip-path: polygon(0% 15%, 100% 0%, 100% 85%, 0% 100%);
    -webkit-clip-path: polygon(0% 15%, 100% 0%, 100% 85%, 0% 100%);
  }
  */
}

.clip-path-content {
  max-width: 50em;
  margin: 0 auto;
  padding: 1.5em;
  position: relative;
}
