.with-sidebar {
  --content-min-width: 50%;
  --side-width: auto;
  overflow: hidden;
}

.with-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--s1) / 2 * -1);
}

.with-sidebar > * > * {
  flex-basis: 0;
  flex-grow: 999;
  margin: calc(var(--s1) / 2);
  flex-basis: var(--side-width);
}

.with-sidebar > * > .sidebar {
  flex-grow: 1;
  min-width: calc(var(--content-min-width) - var(--s1));
}
