.exploded {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 235px;
  margin-left: auto;
  margin-right: auto;
}

.exploded img {
  opacity: 95%;
  position: absolute;
  max-width: 100%;
  height: 100%;
  transition: all ease 500ms;
  transform-style: preserve-3d;
}

@mixin explode($x, $y, $z, $rotX, $rotY, $rotZ, $modX, $modY, $modZ, $layers) {
  .exploded img {
    transform: perspective(1200px) rotateX($rotX * 1deg) rotateY($rotY * 1deg)
      rotateZ($rotZ * 1deg) translateX($x * 1px) translateY($y * 1px)
      translateZ($z * 1px);
  }

  @for $i from 3 through $layers {
    $adjustedX: 0;
    $adjustedY: 0;
    $adjustedZ: 0;

    @if ($i % 2) == 0 {
      @if $modX > 0 {
        $adjustedX: $modX - 8;
      }
      @if $modY > 0 {
        $adjustedY: $modY - 8;
      }
      @if $modZ > 0 {
        $adjustedZ: $modZ - 8;
      }
    }

    .exploded :nth-child(#{$i}) {
      transform: perspective(1200px)
        rotateX($rotX * 1deg)
        rotateY($rotY * 1deg)
        rotateZ($rotZ * 1deg)
        translateX(($x + ($modX * $i) - $adjustedX) * 1px)
        translateY(($y + ($modY * $i) - $adjustedY) * 1px)
        translateZ(($z + ($modZ * $i) - $adjustedZ) * 1px);
    }
  }
}

@include explode(0, 0, 0, 20, 30, -10, 0, 0, 12, 6);

.exploded:hover img {
  transform: scale(1);
}
