@use '../composition/breakpoints';

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  background-image: url('/img/stripes-dark.svg');
  color: var(--clr-neutral-100);
  background-size: 10px;
  @include breakpoints.mq(lg) {
    grid-column: auto / span 2;
  }
}

footer > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > .quote {
  flex-direction: row;
}

footer img {
  max-height: 9rem;
}

.quote h4 {
  max-width: 18ch;
  margin-left: auto;
  margin-right: auto;
}

footer hr {
  width: 100%;
}
