.illustration {
  height: auto;
  min-height: 28vh;
  min-height: min(520px, 100vw);
  /* background-image: url('/img/dots-dark.svg'); */
  background-size: 7px;
}

.illustration > .backdrop {
  position: absolute;
  width: 22ch;
  height: 22ch;
  top: 20ch;
  left: 30ch;
}

.illustration > .shape {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--clr-accent-400);
  width: 100%;
  height: 100%;
}
