@use '../composition/breakpoints';

.intro > .frame {
  --aspect-num: 1;
  --aspect-den: 1.5;
  @include breakpoints.mq(sm) {
    --aspect-num: 1;
    --aspect-den: 3;
  }
}

.intro > .frame > img {
  width: calc(var(--aspect-num) / var(--aspect-den) * 100%);
  margin: auto;
}
