@use '../composition/breakpoints';

.about-more {
  z-index: 1;
}

.interests-images {
  display: grid;
  grid-template-columns: 45% 45%;
  row-gap: var(--s0);
  margin-left: auto;
  margin-right: auto;
  @include breakpoints.mq(lg) {
    grid-template-columns: 20% 20% 20% 20%;
  }
}
.interests-description {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.interests-description > p {
  flex-basis: 100%;
}

.interests-description > img {
  max-width: 7em;
}
