@use '../composition/breakpoints';

.about-more {
  z-index: 1;
}

.interests-images {
  display: grid;
  grid-template-columns: 45% 45%;
  row-gap: var(--s0);
  margin-left: auto;
  margin-right: auto;
  @include breakpoints.mq(lg) {
    grid-template-columns: 20% 20% 20% 20%;
  }
}

.interests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interests-description {
  max-height: 25ch;
}

.interests-description {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.interests-description .description-text {
  flex-basis: 100%;
  border-radius: 3rem 0 5rem 0;
}

.interests-description > img {
  height: 100%;
}

.testimonial {
  justify-content: center;
  align-items: center;
  @include breakpoints.mq(lg) {
    grid-column: auto / span 2;
  }
}

.testimonial-text {
  max-width: 78ch;
}
