@use 'sass:list';

@mixin text3d(
  $x,
  $y,
  $depth,
  $color,
  $backdropX,
  $backdropY,
  $backdropBlur,
  $backdropColor
) {
  $shadow: ();
  @for $i from 1 through $depth {
    $shadow: list.append(
      $shadow,
      list.append(($x * $i) ($y * $i) 0, #{$color}),
      comma
    );
  }

  $shadow: list.append(
    $shadow,
    $backdropX $backdropY $backdropBlur $backdropColor,
    comma
  );

  text-shadow: $shadow;
}

h1 > .text3d {
  color: white;
  transition: 0.5s;
  position: relative;
  left: -25%;
  @include text3d(
    0.75px,
    0.5px,
    12,
    #bbb,
    0.2em,
    0.15em,
    0.15em,
    rgba(0, 0, 0, 0.5)
  );
}
