.card-grid {
  display: grid;
  gap: 1rem;
  @supports (width: min(250px, 100%)) {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
}

.project-card:last-child:nth-last-child(odd) {
  grid-column: auto / span 2;
}

.project-card:last-child:nth-last-child(even),
.project-card:first-child:nth-last-child(even) ~ .project-card {
  grid-column: auto / span 1;
}

.project-card {
  padding: 1rem;
}

.project-card header {
  text-transform: capitalize;
}

.card-grid figure {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.project-card figure img {
  transform: scale(1);
  transition: 0.25s ease-in-out;
}

.project-card figure:hover img {
  transform: scale(1.1);
}

.project-card figure figcaption,
.project-card figure .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.45s ease-in-out;
  opacity: 0;
  color: #fcfcfc;
  text-align: center;
}

.project-card figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  padding: 1rem;
}

.project-card figure:hover .overlay {
  opacity: 0.85;
}

.project-card figure:hover figcaption {
  opacity: 1;
}
