@use 'sass:map';

$breakpoints: (
  xsm: 23em,
  sm: 36em,
  md: 48em,
  lg: 60em,
  xl: 75em,
  xxl: 87.5em,
);

/*xsm: 368px*/
/*sm: 576px*/
/*md: 768px*/
/*lg: 960px*/
/*xl: 1200px*/
/*xxl: 1400px*/

@mixin mq($key) {
  $size: map.get($breakpoints, $key);

  @media only screen and (min-width: $size) {
    @content;
  }
}
