@use '../global/design-tokens/dimensions';
@use '../global/design-tokens/colors';
@use 'sass:map';
@use 'sass:color';

.main-grid {
  display: grid;
  grid-template-columns: 1vw * dimensions.$A 1vw * dimensions.$B;
  grid-template-rows: 1vh * dimensions.$A 1vh * (
      dimensions.$B - (dimensions.$B / dimensions.$phi)
    ) 100vh;
}

.main-grid > * {
  overflow: hidden;
}

.sticky-test {
  position: sticky;
  top: 0;
}

.navbar {
  background-color: colors.$accent;
  background-image: linear-gradient(
    to bottom,
    colors.$sky 0vh,
    colors.$sky 1vh * dimensions.$A,
    colors.$blue 1vh * dimensions.$A,
    colors.$blue 100vh
  );
  color: #{map.get(colors.$harmonious, '500')} !important;
}

.main-grid > * {
  padding: 1rem;
}

.main-grid > :nth-child(1) {
  background-color: color.mix(colors.$sky, colors.$blue, 50%);
}
.main-grid > :nth-child(2) {
  background-color: colors.$blue;
}
.main-grid > :nth-child(3) {
  background-color: color.mix(colors.$blue, colors.$sand, 50%);
}
.main-grid > :nth-child(4) {
  background-color: colors.$sand;
}

.main-grid > :nth-child(5) {
  background-color: color.mix(colors.$blue, colors.$sand, 50%);
}
.main-grid > :nth-child(6) {
  background-color: colors.$sand;
}
