@use 'design-tokens';

:root {
  @each $color, $shades in design-tokens.$colors {
    @each $shade, $value in $shades {
      --clr-#{$color}-#{$shade}: #{$value};
    }
  }
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

hr {
  border: 0;
  border-top: solid thin currentColor;
  width: 61.2%;
}
