$accent: #f3e04e;
$sky: #cdd9d9;
$sky2: #e3e5e5;
$sand: #faebd7;
$tide: #2f4f4f;
$blue: #00c1dc;
$harmonious: (
  '100': #c1eed8,
  '200': #52c8a1,
  '300': #00b7a0,
  '400': #14626d,
  '500': #0e2d4e,
);
$dark: #333;

$colors: (
  primary: (
    400: #00c1dc,
  ),
  neutral: (
    400: #faebd7,
  ),
  accent: (
    400: #f3e04e,
  ),
  feedback: (
    error: red,
  ),
);
