@use 'sass:color';

$accent: #f3e04e;
$sky: #cdd9d9;
$sky2: #e3e5e5;
$sand: #faebd7;
$tide: #2f4f4f;
$blue: #00c1dc;
$harmonious: (
  '100': #c1eed8,
  '200': #52c8a1,
  '300': #00b7a0,
  '400': #14626d,
  '500': #0e2d4e,
);
$dark: #333;

$colors: (
  primary: (
    900: #003745,
    800: #015669,
    700: #01788e,
    600: #019cb5,
    500: #00c1dc,
    400: #77c5d5,
    300: #95d3de,
    200: #b2e1e9,
    100: #e9fdff,
  ),
  neutral: (
    900: #41273b,
    800: #744455,
    700: #a97669,
    600: #d88f78,
    500: #fdbe87,
    400: #f7cc9d,
    300: #faebd7,
    200: #f3ede2,
    100: #f0eee9,
  ),
  accent: (
    900: #eaaa00,
    800: #f0b717,
    700: #f5c526,
    600: #fad234,
    500: #ffe042,
    450: #f3e04eca,
    400: #f3e04e,
    300: #f4e873,
    200: #f6ef95,
    100: #fcfcd4,
  ),
  variant: (
    900: #244545,
    800: #246461,
    700: #20857d,
    600: #479f91,
    500: #1ccaae,
    400: #5fd7c1,
    300: #8ae4d3,
    200: #b0f0e4,
    100: #d4fcf5,
  ),
  feedback: (
    error: #e2665c,
    success: #00a872,
    warning: #ece784,
  ),
);

/* 
Darks
#41273b
*/

/*

 primary: (
    400: #00c1dc,
  ),

neutral: (
    900: #1E1A34,
    800: #5d6973,
    700: #91a3b3,
    600: #b0c6d9,
    500: #c4ddf2,
    400: #faebd7,
    300: #cfe8ff,
    200: color.scale(#cfe8ff, $lightness: 10%),
    100: #f0eee9,
  ),
*/
